<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <% @dreams.each do |dream| %>
      <%= render dream %>
    <% end %>
  </div>
</div>
