

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Your dream</h1>
      <p class="col-lg-10 fs-4">Tell us your dream and what is stopping you. Remember to first express your dream first, and then the main blocker of why you are not archiving it. For example: I want to take a cruise but who is going to take care of my dogs.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <%= render "form", dream: @dream %>
    </div>
  </div>
</div>
