<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-6 mb-6">
        <h5>Dream Makers Community</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2">
            <%= link_to("Your dream", new_dream_path, class: "nav-link p-0 text-muted")%>
          </li>
          <li class="nav-item mb-2">
            <%= link_to("Explore dreams", dreams_path, class: "nav-link p-0 text-muted")%>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>Made with love by <a href="http://twitter.com/altuzar">@altuzar</a></p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
